/* -----------------------------------------------------------
    List
----------------------------------------------------------- */
ul.list-notice-01{
	margin-bottom: 20px;
	li{
		padding:0 0 0 1.3em; 
		position: relative;
		color: #666;
		span{
			position: absolute;
			left: 0;
		}

	}

}