header{
width: 100%;
height: 100%;
background: url(../images/bg-header.jpg) no-repeat center top;
background-size:cover;
text-align: center;
	
	.inner{
	width: 100%;
	height: 100%;
	padding:100px 0;
	background: url(../images/bg-header-dot.png);
	background-color: rgba(0,0,0,0.65);

		h1{
		font-size: 1.4rem;
		color: #fff;
		padding: 10px;
		}
	}

	nav{
		max-width: 960px;
		margin:20px auto 0 auto; 
		ul{
		@include clearfix;
			li{
			float: left;
			width: 16.55555%;
			border-right: 1px solid #5b5c61;
			font-size: 0.8rem;
				a{
				padding:75px 0 10px 0; 
				display: block;
				color: #fff;
				text-decoration: none;
				}
			}

			li.about a{
				background: url(../images/nav-about.png) no-repeat center 15px;
				background-color: rgba(0,0,0,0.45);
				background-size: 48px;
			}
			li.profile a{
				background: url(../images/nav-profile.png) no-repeat center 15px;
				background-color: rgba(0,0,0,0.45);
				background-size: 48px;
			}
			li.vision a{
				background: url(../images/nav-vision.png) no-repeat center 15px;
				background-color: rgba(0,0,0,0.45);
				background-size: 48px;
			}
			li.skill a{
				background: url(../images/nav-skill.png) no-repeat center 15px;
				background-color: rgba(0,0,0,0.45);
				background-size: 48px;
			}
			li.products a{
				background: url(../images/nav-products.png) no-repeat center 15px;
				background-color: rgba(0,0,0,0.45);
				background-size: 48px;
			}
			li.message a{
				background: url(../images/nav-message.png) no-repeat center 15px;
				background-color: rgba(0,0,0,0.45);
				background-size: 48px;
			}
			li:last-child{
				border-right:0px;
			}
		}
	}
}

footer{
text-align: center;
background: #666;

	.inner{
	padding:20px 0;
	background: url(../images/bg-header-dot.png);
	background-color: rgba(0,0,0,0.65);

		p{
			font-size: 0.8rem;
		color: #fff;
		}
	}
}

section.bg-02{
	background-color: #f1f1f1;
}

section{
	padding:50px 10px 60px 10px; 
	.inner{
	max-width:960px;
	margin:0 auto;
	}
}


@media screen and (max-width: 860px) {
header{
	.inner{
	padding:30px 0 0 0;
	}

	nav{
		ul{
			li{
			border-right:none;
			width: 33.3333%;
			}
		}
	}
}
}

@media screen and (max-width: 640px) {
section{
	padding:10px 10px 20px 10px; 
}
}

@media screen and (max-width: 420px) {
header{
	nav{
		ul{
			li{
			width:50%;
			}
		}
	}
}
}