html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, tt, var, ul, ol, li, dl, dt, dd, form, fieldset, legend, label, table, caption, tbody, tfoot, thead, tr, th, td, header, main, nav, footer {
  margin: 0;
  padding: 0;
}

header, nav, footer {
  display: block;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: Meiryo,'Hiragino Kaku Gothic Pro',sans-serif;
  line-height: 1.8;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

img {
  border: 0;
  line-height: 1;
}

a {
  color: #006599;
}

a:visited {
  color: #5140b8;
}

a:hover,
a:focus {
  color: #008194;
}

a:active {
  color: #006599;
}

em {
  font-style: normal;
}

strong {
  font-weight: bold;
}

header {
  width: 100%;
  height: 100%;
  background: url(../images/bg-header.jpg) no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}
header .inner {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: url(../images/bg-header-dot.png);
  background-color: rgba(0, 0, 0, 0.65);
}
header .inner h1 {
  font-size: 1.4rem;
  color: #fff;
  padding: 10px;
}
header nav {
  max-width: 960px;
  margin: 20px auto 0 auto;
}
header nav ul:before, header nav ul:after {
  content: "";
  display: table;
}
header nav ul:after {
  clear: both;
}
header nav ul li {
  float: left;
  width: 16.55555%;
  border-right: 1px solid #5b5c61;
  font-size: 0.8rem;
}
header nav ul li a {
  padding: 75px 0 10px 0;
  display: block;
  color: #fff;
  text-decoration: none;
}
header nav ul li.about a {
  background: url(../images/nav-about.png) no-repeat center 15px;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}
header nav ul li.profile a {
  background: url(../images/nav-profile.png) no-repeat center 15px;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}
header nav ul li.vision a {
  background: url(../images/nav-vision.png) no-repeat center 15px;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}
header nav ul li.skill a {
  background: url(../images/nav-skill.png) no-repeat center 15px;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}
header nav ul li.products a {
  background: url(../images/nav-products.png) no-repeat center 15px;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}
header nav ul li.message a {
  background: url(../images/nav-message.png) no-repeat center 15px;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}
header nav ul li:last-child {
  border-right: 0px;
}

footer {
  text-align: center;
  background: #666;
}
footer .inner {
  padding: 20px 0;
  background: url(../images/bg-header-dot.png);
  background-color: rgba(0, 0, 0, 0.65);
}
footer .inner p {
  font-size: 0.8rem;
  color: #fff;
}

section.bg-02 {
  background-color: #f1f1f1;
}

section {
  padding: 50px 10px 60px 10px;
}
section .inner {
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 860px) {
  header .inner {
    padding: 30px 0 0 0;
  }
  header nav ul li {
    border-right: none;
    width: 33.3333%;
  }
}
@media screen and (max-width: 640px) {
  section {
    padding: 10px 10px 20px 10px;
  }
}
@media screen and (max-width: 420px) {
  header nav ul li {
    width: 50%;
  }
}
h2 {
  font-size: 3.2rem;
  margin: 0 0 10px 0;
  padding: 20px 0 20px 60px;
  color: #111;
  font-weight: normal;
}

h2.hdg-l2-about {
  background: url(../images/bg-hdg-about.png) no-repeat left 0.68em;
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}

h2.hdg-l2-profile {
  background: url(../images/bg-hdg-profile.png) no-repeat left 0.68em;
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}

h2.hdg-l2-vision {
  background: url(../images/bg-hdg-vision.png) no-repeat left 0.68em;
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}

h2.hdg-l2-skill {
  background: url(../images/bg-hdg-skill.png) no-repeat left 0.68em;
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}

h2.hdg-l2-products {
  background: url(../images/bg-hdg-products.png) no-repeat left 0.68em;
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}

h2.hdg-l2-message {
  background: url(../images/bg-hdg-message.png) no-repeat left 0.68em;
  -webkit-background-size: 48px 48px;
  background-size: 48px;
}

@media screen and (max-width: 640px) {
  h2.hdg-l2-about,
  h2.hdg-l2-profile,
  h2.hdg-l2-vision,
  h2.hdg-l2-skill,
  h2.hdg-l2-products,
  h2.hdg-l2-message {
    padding: 10px 0 10px 44px;
    margin: 0 0 0 0;
    font-size: 1.85rem;
    background-position: left 13px;
    -webkit-background-size: 36px 36px;
    background-size: 36px;
  }
}
ul.list-notice-01 {
  margin-bottom: 20px;
}
ul.list-notice-01 li {
  padding: 0 0 0 1.3em;
  position: relative;
  color: #666;
}
ul.list-notice-01 li span {
  position: absolute;
  left: 0;
}

ul.list-products {
  padding: 30px;
  border: 1px solid #e3e3e3;
  position: relative;
}
ul.list-products li div.lyt-image:before, ul.list-products li div.lyt-image:after {
  content: "";
  display: table;
}
ul.list-products li div.lyt-image:after {
  clear: both;
}
ul.list-products li div.lyt-image div.image {
  float: left;
  width: 40%;
}
ul.list-products li div.lyt-image div.column {
  float: right;
  width: 60%;
}
ul.list-products li.prev,
ul.list-products li.next {
  position: absolute;
  top: 40%;
  background: url(../images/bg-header-dot.png);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 0;
}
ul.list-products li.prev a,
ul.list-products li.next a {
  display: block;
  padding: 40px 20px;
}
ul.list-products li.prev {
  left: -20px;
}
ul.list-products li.next {
  right: 20px;
}

table.tbl-01 {
  border-collapse: collapse;
}
table.tbl-01 tr th {
  padding: 20px 20px;
  vertical-align: top;
  text-align: left;
}
table.tbl-01 tr td {
  padding: 20px;
  vertical-align: top;
  border-left: 1px dotted #000;
}

table.tbl-02 {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
table.tbl-02 tr th {
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}
table.tbl-02 tr th span {
  color: #ff0000;
  display: inline-block;
  margin-left: 10px;
}
table.tbl-02 tr td {
  padding: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  vertical-align: top;
}
table.tbl-02 tr td input {
  padding: 6px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(243, 243, 243, 0.9) inset;
  box-shadow: 1px 1px 1px 1px rgba(243, 243, 243, 0.9) inset;
}
table.tbl-02 tr td input.size-s {
  width: 50%;
}
table.tbl-02 tr td input.size-L {
  width: 85%;
}
table.tbl-02 tr td textarea {
  width: 98%;
  height: 10em;
  padding: 6px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(243, 243, 243, 0.9) inset;
  box-shadow: 1px 1px 1px 1px rgba(243, 243, 243, 0.9) inset;
}

.btn-submit {
  text-align: center;
}
